app/.gradle
app/local.properties
app/.idea/workspace.xml
app/.idea/libraries
.DS_Store
app/build
app/captures
app/app/src/main/res/values/google_maps_api.xml
app/app/src/debug/res/values/google_maps_api.xml
app/.idea/dictionaries/Kai_Schröer.xml
app/.idea/encodings.xml